.bg-header {
  background: #06a7df !important;
}

.carousel-caption{
  bottom: 45%;
}

.page-title {
  color: #06a7df;
  padding-bottom: 2rem;
}

.page-title i {
  margin-right: .5rem;
}

.card {
  border: none;
}

.border-radius {
  border-radius: 25px;
}

.bg-color {
  background-color: #06a7df !important;
}